{%- assign english = page["eng"] -%}
{%- assign localized_term = page[lang] -%}
{%- assign term_status = english.entry_status -%}
{%- assign classification = english.terms.first.normative_status -%}
<article
  class="localized-term field lang-{{ lang }} status-{{ term_status }} classification-{{ classification }}"
  id="entry-lang-{{ lang }}">

  <p class="field-name field-name-language">{{ lang }}</p>

  <div class="field-value">
    {% for entry in localized_term.terms %}
      <h3 class="localized">{{ entry.designation | escape }}</h3>
    {% else %}
      <h3 class="warning">Translated term missing in this language.</h3>
    {% endfor %}

    {% if localized_term.abbrev %}
      <p class="localized abbrev">{{ localized_term.abbrev | escape }}</p>
    {% endif %}

    {% if localized_term.definition %}
      <p class="definition localized">{{ localized_term.definition | escape }}</p>
    {% else %}
      <p class="definition warning">Definition not provided in this language.</p>
    {% endif %}

    {% if localized_term.authoritative_source.ref != english.authoritative_source.ref %}
      <p class="source localized">
        [SOURCE: {{ localized_term.authoritative_source | display_authoritative_source }}]
      </p>
      <span class="warning">
        This translated term may not be from the same source as the normative term.
      </span>
    {% endif %}

    {% if localized_term.notes %}
      <div class="notes">
        {% for note in localized_term.notes %}
        {% assign notenum = "" %}
        {% if localized_term.notes.size > 1 %}
        {% assign notenum = " " | append: forloop.index %}
        {% endif %}
        <p class="note localized">
          <span>
          {{ site.data.lang[lang].note_to_entry | replace: " DD", notenum }}
          </span>
        {% if lang != "eng" and note == english.notes[forloop.index0] %}
          <span class="warning">
            This note has not been translated.
          </span>
        {% else %}
          {{ note | escape }}
        {% endif %}
        </p>
        {% endfor %}
      </div>
    {% endif %}

    {% if localized_term.examples %}
      <div class="examples">
        {% for example in localized_term.examples %}
        <p class="example localized">
          <span>{{ site.data.lang[lang].example }}
            {% if localized_term.examples.size > 1 %}
            {{ forloop.index }}
            {% endif %}
          </span>
        {% if lang != "eng" and example == english.examples[forloop.index0] %}
          <span class="warning">
            This example has not been translated.
          </span>
        {% else %}
          {{ example | escape }}
        {% endif %}
        </p>
        {% endfor %}
      </div>
    {% endif %}

    <ul class="labels">
      {% if localized_term.alt %}
        <li><span class="localized">{{ localized_term.alt | escape }}</span></li>
      {% endif %}
    </ul>

    <p class="origin localized">
      ORIGIN:
      <a href="/registers/#language-{{ lang }}">{{ site.data.info.languages[lang].register-name }}</a>
      (last updated: {{ site.data.info.languages[lang].date-of-last-change }})
    </p>

  </div>
</article>
