<script>
(function () {
    var d = document;

    var CopyToClipboard = function (domElm) {
        var r = d.createRange();
        r.selectNode(domElm);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(r);
        d.execCommand('copy');
        window.getSelection().removeAllRanges();
    };


    var copyToClipboard2 = function (elmId) {
        if (d.selection) {
            var range = d.body.createTextRange();
            range.moveToElementText(d.getElementById(elmId));
            range.select().createTextRange();
            d.execCommand('copy');
        } else if (window.getSelection) {
            var range = d.createRange();
            range.selectNode(d.getElementById(elmId));
            window.getSelection().addRange(range);
            d.execCommand('copy');
        }
    };

    var copyBtn = d.getElementById('engTermCopy');

    if (copyBtn) {
        var copyBlock = d.createElement('textarea');
        //var copyBlock = d.createElement('div');
        copyBlock.setAttribute('id', 'engTermCopyArea');
        copyBlock.style.position = 'absolute';
        copyBlock.style.left = '-1000px';
        copyBlock.style.top = '-1000px';
        copyBlock.style.width = '1px';
        copyBlock.style.height = '1px';
        //copyBlock.style.opacity = 0;

        var tgtElement = copyBtn.parentElement.getElementsByClassName('field-value')[0];
        var mjxList = tgtElement.getElementsByTagName('mjx-container');

        for (var _elm of mjxList) {
            _el.innerText = '<<math_symbol>>';
        };

        var textToCopy = '';
        var elmsToCopy = [];

        elmsToCopy.push(tgtElement.getElementsByTagName('h3')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('definition')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('notes')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('examples')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('labels')[0]);
        elmsToCopy.push(tgtElement.getElementsByClassName('origin')[0]);

        for (var _elm of elmsToCopy) {
            if (_elm.innerText.trim().length > 0) {
                textToCopy = textToCopy + _elm.innerText + '\r';
            };
        };

        copyBtn.addEventListener('click', function () {
            d.body.appendChild(copyBlock);
            copyBlock.value = textToCopy.trim();
            CopyToClipboard(copyBlock);
            d.body.removeChild(copyBlock);
        });

    };
})();
</script>